@font-face {
  font-family: "NotoSerifSC" ;
  src: url("/fonts/NotoSerifSC-Black.otf") format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: "NotoSerifSC" ;
  src: url("/fonts/NotoSerifSC-Bold.otf") format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "NotoSerifSC" ;
  src: url("/fonts/NotoSerifSC-ExtraLight.otf") format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: "NotoSerifSC" ;
  src: url("/fonts/NotoSerifSC-Light.otf") format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: "NotoSerifSC" ;
  src: url("/fonts/NotoSerifSC-Medium.otf") format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: "NotoSerifSC" ;
  src: url("/fonts/NotoSerifSC-Regular.otf") format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: "NotoSerifSC" ;
  src: url("/fonts/NotoSerifSC-SemiBold.otf") format('opentype');
  font-weight: 600;
}

:root{
  font-family:"NotoSerifSC" , sans-serif;
}
